In [19]:
import pandas as pd
import requests
from pprint import pprint
import warnings
warnings.filterwarnings('ignore')

In [2]:
film_file = "../Ivan/Top 100 Movies of the Last 20 Years.csv"
film_df = pd.read_csv(film_file)

In [3]:
film_df.head()

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt0111161,2013-06-24,2013-06-24,NaN,The Shawshank Redemption,https://www.imdb.com/title/tt0111161/,movie,9.3,142,1994,Drama,2695395,1994-09-10,Frank Darabont
1,2,tt0110912,2013-06-24,2013-06-24,NaN,Pulp Fiction,https://www.imdb.com/title/tt0110912/,movie,8.9,154,1994,"Crime, Drama",2069095,1994-05-21,Quentin Tarantino
2,3,tt0120689,2013-06-24,2013-06-24,NaN,The Green Mile,https://www.imdb.com/title/tt0120689/,movie,8.6,189,1999,"Crime, Drama, Fantasy, Mystery",1310521,1999-12-06,Frank Darabont
3,4,tt0109830,2013-06-24,2013-06-24,NaN,Forrest Gump,https://www.imdb.com/title/tt0109830/,movie,8.8,142,1994,"Drama, Romance",2093497,1994-06-23,Robert Zemeckis
4,5,tt1403865,2013-06-24,2013-06-24,NaN,True Grit,https://www.imdb.com/title/tt1403865/,movie,7.6,110,2010,"Drama, Western",343006,2010-12-14,"Ethan Coen, Joel Coen"

In [4]:
film_list = film_df["Title"]
print(film_list[0])

The Shawshank Redemption

In [47]:
film_dates = film_df["Year"]
film_combo = {}
for i in range (0,100):
    film_combo[film_list[i]] = film_dates[i]

In [ ]:
url = "https://api.themoviedb.org/3/search/movie"
from config import api_key
tmdb_df = pd.DataFrame()


query_url = f"{url}?api_key={api_key}&query=The Shawshank Redemption"
articles = requests.get(query_url).json()
pprint(articles)

In [ ]:
tmdb_df = tmdb_df.append(articles["results"], ignore_index=True)
tmdb_df.head()

In [28]:
tmdb_df = pd.DataFrame()

for film in film_list:
    query_url = f"{url}?api_key={api_key}&query={film}"
    response = requests.get(query_url).json()
    tmdb_df = tmdb_df.append(response["results"], ignore_index=True)

tmdb_df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/wPU78OPN4BYEgWYdXyg0phMee64.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,91.576,/hBcY0fE9pfXzvVaY4GKarweriG2.jpg,1994-09-23,The Shawshank Redemption,False,8.7,23224
1,False,None,[],897459,en,Hope Springs Eternal: A Look Back at The Shaws...,Documentary about the movie.,1.400,/vdVab7yNvgYEMd8shCfy2D6nTMu.jpg,2004-06-25,Hope Springs Eternal: A Look Back at The Shaws...,False,7.7,3
2,False,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,"[53, 80]",680,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",76.624,/fIE3lAGcZDV1G6XM5KmuWnNsPp1.jpg,1994-09-10,Pulp Fiction,False,8.5,24602
3,False,None,[35],738735,en,Stealing Pulp Fiction,A diehard Quentin Tarantino fan recruits his f...,1.110,/5OHH3y2v8uwluOZLC2Kt8ENcjxn.jpg,2020-09-01,Stealing Pulp Fiction,False,0.0,0
4,False,None,[99],109005,en,Pulp Fiction Art,"A guilty pleasure of the mid-20th century, pul...",0.739,/pVpCuDyyvt3HRjVEYUUBOqrio7F.jpg,2005-01-01,Pulp Fiction Art,False,5.5,4

In [29]:
tmdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              1061 non-null   bool
 1   backdrop_path      556 non-null    object
 2   genre_ids          1061 non-null   object
 3   id                 1061 non-null   int64
 4   original_language  1061 non-null   object
 5   original_title     1061 non-null   object
 6   overview           1061 non-null   object
 7   popularity         1061 non-null   float64
 8   poster_path        885 non-null    object
 9   release_date       1054 non-null   object
 10  title              1061 non-null   object
 11  video              1061 non-null   bool
 12  vote_average       1061 non-null   float64
 13  vote_count         1061 non-null   int64
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 101.7+ KB

In [31]:
tmdb_df.tail()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
1056,False,None,"[28, 80]",800943,zh,Pi li nu wang feng,A young member of the golden ninja clan seeks ...,1.400,/nv7viDp0HhMy4hrcr96WJ6qzYVX.jpg,1985-01-01,Thunder Cat Woman,False,7.0,1
1057,False,/jxpj4BTgiX4PjcPfxg1mqGCslch.jpg,"[18, 36, 10749]",658895,lv,Piļsāta pī upis,A Latvian tragicomedy about a young artist who...,0.646,/9IhILJ6FB0kASxoRTvsRKWHYnB4.jpg,2020-01-17,The Sign Painter,False,6.4,5
1058,False,None,[27],733834,zh,Da pi guan,Taiwanese horror.,0.600,/asMt9W3DtkydOdvTXCY8Eofsr3b.jpg,1989-01-01,Smashing the Coffin,False,0.0,0
1059,False,None,[],850402,en,Digits of Pi,Experimental film artistically presenting the ...,0.600,/sEG1KkisQ1Wp9b2LlnZ7V3o0lft.jpg,2019-01-01,Digits of Pi,False,0.0,0
1060,False,None,[35],661131,it,Parru pi tía,There is an ancient ritual to change the fate ...,0.600,/cHEhR30rZ9AfjXje49FyeDnslel.jpg,2018-08-31,Parru pi tía,False,0.0,0

In [42]:
tmdb_df["Year"] = tmdb_df["release_date"].str[:4]
tmdb_df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,Year
0,False,/wPU78OPN4BYEgWYdXyg0phMee64.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,91.576,/hBcY0fE9pfXzvVaY4GKarweriG2.jpg,1994-09-23,The Shawshank Redemption,False,8.7,23224,1994
1,False,None,[],897459,en,Hope Springs Eternal: A Look Back at The Shaws...,Documentary about the movie.,1.400,/vdVab7yNvgYEMd8shCfy2D6nTMu.jpg,2004-06-25,Hope Springs Eternal: A Look Back at The Shaws...,False,7.7,3,2004
2,False,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,"[53, 80]",680,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",76.624,/fIE3lAGcZDV1G6XM5KmuWnNsPp1.jpg,1994-09-10,Pulp Fiction,False,8.5,24602,1994
3,False,None,[35],738735,en,Stealing Pulp Fiction,A diehard Quentin Tarantino fan recruits his f...,1.110,/5OHH3y2v8uwluOZLC2Kt8ENcjxn.jpg,2020-09-01,Stealing Pulp Fiction,False,0.0,0,2020
4,False,None,[99],109005,en,Pulp Fiction Art,"A guilty pleasure of the mid-20th century, pul...",0.739,/pVpCuDyyvt3HRjVEYUUBOqrio7F.jpg,2005-01-01,Pulp Fiction Art,False,5.5,4,2005

In [56]:
type(str(film_combo["The Shawshank Redemption"]))

str

In [79]:
filtered_film_df = pd.DataFrame()

for title in film_combo.keys():
    entry = tmdb_df[(tmdb_df["original_title"] == title) & (tmdb_df["Year"] == str(film_combo[title]))]
    frames = [filtered_film_df,entry]
    filtered_film_df = pd.concat(frames)

filtered_film_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 1042
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              100 non-null    bool
 1   backdrop_path      100 non-null    object
 2   genre_ids          100 non-null    object
 3   id                 100 non-null    int64
 4   original_language  100 non-null    object
 5   original_title     100 non-null    object
 6   overview           100 non-null    object
 7   popularity         100 non-null    float64
 8   poster_path        100 non-null    object
 9   release_date       100 non-null    object
 10  title              100 non-null    object
 11  video              100 non-null    bool
 12  vote_average       100 non-null    float64
 13  vote_count         100 non-null    int64
 14  Year               100 non-null    object
dtypes: bool(2), float64(2), int64(2), object(9)
memory usage: 11.1+ KB

In [80]:
filtered_film_df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,Year
0,False,/wPU78OPN4BYEgWYdXyg0phMee64.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,91.576,/hBcY0fE9pfXzvVaY4GKarweriG2.jpg,1994-09-23,The Shawshank Redemption,False,8.7,23224,1994
2,False,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,"[53, 80]",680,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",76.624,/fIE3lAGcZDV1G6XM5KmuWnNsPp1.jpg,1994-09-10,Pulp Fiction,False,8.5,24602,1994
9,False,/l6hQWH9eDksNJNiXWYRkWqikOdu.jpg,"[14, 18, 80]",497,en,The Green Mile,A supernatural tale set on death row in a Sout...,98.482,/velWPhVMQeQKcxggNEU8YmIo52R.jpg,1999-12-10,The Green Mile,False,8.5,15011,1999
13,False,/3h1JZGDhZ8nzxdgvkxha0qBqi05.jpg,"[35, 18, 10749]",13,en,Forrest Gump,A man with a low IQ has accomplished great thi...,68.283,/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg,1994-06-23,Forrest Gump,False,8.5,24095,1994
15,False,/rmasNrfemw9YODz0xhlEBWanNyX.jpg,"[18, 12, 37]",44264,en,True Grit,Following the murder of her father by a hired ...,21.654,/tCrB8pcjadZjsDk7rleGJaIv78k.jpg,2010-12-22,True Grit,False,7.3,4682,2010

In [81]:
imdb_file = "../Ivan/IMDb_Data_final.csv"
imdb_df = pd.read_csv(imdb_file)
imdb_df.head()

,Title,Director,Stars,IMDb-Rating,Genres,Duration,Censor-board-rating,ReleaseYear
0,Top Gun: Maverick,JosephKosinski,"TomCruise, JenniferConnelly, MilesTeller, ValK...",8.6,"Action,Drama",130min,UA,2022
1,Everything Everywhere All at Once,"DanKwan,",", MichelleYeoh, StephanieHsu, KeHuyQuan, James...",8.3,"Action,Adventure,Comedy",139min,R,2022
2,The Batman,MattReeves,"RobertPattinson, ZoëKravitz, JeffreyWright, Co...",7.9,"Action,Crime,Drama",176min,UA,2022
3,Jurassic Park,StevenSpielberg,"SamNeill, LauraDern, JeffGoldblum, RichardAtte...",8.2,"Action,Adventure,Sci-Fi",127min,UA,1993
4,The Godfather,FrancisFordCoppola,"MarlonBrando, AlPacino, JamesCaan, DianeKeaton",9.2,"Crime,Drama",175min,A,1972

In [92]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                1000 non-null   object
 1   Director             1000 non-null   object
 2   Stars                1000 non-null   object
 3   IMDb-Rating          1000 non-null   float64
 4   Genres               1000 non-null   object
 5   Duration             1000 non-null   object
 6   Censor-board-rating  1000 non-null   object
 7   ReleaseYear          1000 non-null   int64
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [91]:
imdb_df.fillna("N/A",inplace=True)

In [93]:
imdb_film_list = imdb_df["Title"]
imdb_dates = imdb_df["ReleaseYear"]
imbd_film_combo= {}
for i in range(0,len(imdb_film_list)):
    imbd_film_combo[imdb_film_list[i]] = imdb_dates[i]

In [94]:
imdb_tmdb_df=pd.DataFrame()

for film in imdb_film_list:
    query_url = f"{url}?api_key={api_key}&query={film}"
    response = requests.get(query_url).json()
    imdb_tmdb_df = imdb_tmdb_df.append(response["results"], ignore_index=True)

imdb_tmdb_df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/AaV1YIdWKnjAIAOe8UUKBFm327v.jpg,"[28, 18]",361743,en,Top Gun: Maverick,After more than thirty years of service as one...,498.121,/62HCnUTziyWcpDaBO2i1DX17ljH.jpg,2022-05-24,Top Gun: Maverick,False,8.3,5932
1,False,/l1GmkC9EJLDVRt8RxT64cet6QUQ.jpg,"[99, 10770]",1076135,fr,Le Phénomène Top Gun Maverick,"36 years after the release of the first ""Top G...",11.805,/4t4GS16zOkdewJzeRZZwy3m7Y76.jpg,2022-12-23,The Top Gun Maverick Phenomenon,False,0.0,0
2,False,/tt79dbOPd9Z9ykEOpvckttgYXwH.jpg,"[28, 12, 878]",545611,en,Everything Everywhere All at Once,An aging Chinese immigrant is swept up in an i...,231.355,/w3LxiVYdWWRvEVdn5RYq6jIqkb1.jpg,2022-03-24,Everything Everywhere All at Once,False,8.0,3001
3,False,/b0PlSFdDwbyK0cf5RxwDpaOJQvQ.jpg,"[80, 9648, 53]",414906,en,The Batman,"In his second year of fighting crime, Batman u...",331.984,/74xTEgt7R36Fpooo50r9T25onhq.jpg,2022-03-02,The Batman,False,7.7,7423
4,False,None,"[80, 18, 28]",806704,en,The Batman - Part II,Sequel to the 2022 film The Batman.,18.166,/hUe1G6Ziwl8b6DaaGHjhG6LQQH8.jpg,2025-10-03,The Batman - Part II,False,0.0,0

In [95]:
imdb_tmdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7469 entries, 0 to 7468
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              7469 non-null   bool
 1   backdrop_path      4183 non-null   object
 2   genre_ids          7469 non-null   object
 3   id                 7469 non-null   int64
 4   original_language  7469 non-null   object
 5   original_title     7469 non-null   object
 6   overview           7469 non-null   object
 7   popularity         7469 non-null   float64
 8   poster_path        6324 non-null   object
 9   release_date       7420 non-null   object
 10  title              7469 non-null   object
 11  video              7469 non-null   bool
 12  vote_average       7469 non-null   float64
 13  vote_count         7469 non-null   int64
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 714.9+ KB

In [96]:
imdb_tmdb_df["Year"] = imdb_tmdb_df["release_date"].str[:4]

In [99]:
filtered_imdb_df = pd.DataFrame()

for title in imbd_film_combo.keys():
    entry = imdb_tmdb_df[(imdb_tmdb_df["original_title"] == title) & (imdb_tmdb_df["Year"] == str(imbd_film_combo[title]))]
    frames = [filtered_imdb_df,entry]
    filtered_imdb_df = pd.concat(frames)

filtered_imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 0 to 7435
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              840 non-null    bool
 1   backdrop_path      835 non-null    object
 2   genre_ids          840 non-null    object
 3   id                 840 non-null    int64
 4   original_language  840 non-null    object
 5   original_title     840 non-null    object
 6   overview           840 non-null    object
 7   popularity         840 non-null    float64
 8   poster_path        840 non-null    object
 9   release_date       840 non-null    object
 10  title              840 non-null    object
 11  video              840 non-null    bool
 12  vote_average       840 non-null    float64
 13  vote_count         840 non-null    int64
 14  Year               840 non-null    object
dtypes: bool(2), float64(2), int64(2), object(9)
memory usage: 93.5+ KB

In [100]:
filtered_imdb_df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,Year
0,False,/AaV1YIdWKnjAIAOe8UUKBFm327v.jpg,"[28, 18]",361743,en,Top Gun: Maverick,After more than thirty years of service as one...,498.121,/62HCnUTziyWcpDaBO2i1DX17ljH.jpg,2022-05-24,Top Gun: Maverick,False,8.3,5932,2022
2,False,/tt79dbOPd9Z9ykEOpvckttgYXwH.jpg,"[28, 12, 878]",545611,en,Everything Everywhere All at Once,An aging Chinese immigrant is swept up in an i...,231.355,/w3LxiVYdWWRvEVdn5RYq6jIqkb1.jpg,2022-03-24,Everything Everywhere All at Once,False,8.0,3001,2022
5825,False,/tt79dbOPd9Z9ykEOpvckttgYXwH.jpg,"[28, 12, 878]",545611,en,Everything Everywhere All at Once,An aging Chinese immigrant is swept up in an i...,231.355,/w3LxiVYdWWRvEVdn5RYq6jIqkb1.jpg,2022-03-24,Everything Everywhere All at Once,False,8.0,3001,2022
3,False,/b0PlSFdDwbyK0cf5RxwDpaOJQvQ.jpg,"[80, 9648, 53]",414906,en,The Batman,"In his second year of fighting crime, Batman u...",331.984,/74xTEgt7R36Fpooo50r9T25onhq.jpg,2022-03-02,The Batman,False,7.7,7423,2022
23,False,/mlolzwV6VrKOZJ1SfYbPHXXDD4p.jpg,"[12, 878]",329,en,Jurassic Park,A wealthy entrepreneur secretly creates a them...,35.408,/oU7Oq2kFAAlGqbU4VoAE36g4hoI.jpg,1993-06-11,Jurassic Park,False,7.9,14389,1993